#map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

body { 
    margin: 0; 
    padding: 0; 
}

html, body, #map { 
    height: 100%; 
}

#menu {
    /* position: absolute; */
    top: 32px;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    z-index: 1;
    background: #efefef;
    font-family: 'Open Sans', sans-serif;
}

.tabs {
    position: absolute;
    top: 32px;
    left: 10px;
    bottom: 10px;
    display: flex;
    flex-direction: column;
    font-family: 'Lucida Sans', sans-serif;
    font-size: 15px;
    width: 100%; /* Prendre toute la largeur disponible */
    max-width: 50%; /* Limiter la largeur maximale */
    z-index: 100;
    overflow: hidden; /* Masquer le débordement */
    max-height: calc(100vh - 42px); /* Assurer que la hauteur est dans les limites de la fenêtre */
}

.tab-registers {
    display: flex;
    /* overflow-x: auto; /* Ajouter le défilement horizontal pour les onglets */
    flex-wrap: nowrap; /* Empêcher les boutons de se mettre sur plusieurs lignes */
}

.tab-registers button {
    padding: 0.5em;
    background-color: RGB(255, 255, 255);
    border: none;
    font: inherit;
    flex: 0 0 auto; /* Empêcher les boutons de s'étirer pour prendre toute la largeur */
}

.tab-registers button:hover {
    cursor: pointer;
}

.tab-bodies {
    background-color: RGB(235, 235, 235);
    flex-grow: 1;
    overflow-y: auto; /* Ajouter le défilement vertical */
    overflow-x: auto; /* Ajouter le défilement horizontal */
    max-height: calc(100vh - 64px); /* Limiter la hauteur du contenu des onglets */
}

.tab-bodies > div {
    overflow: auto; /* Assurer que chaque contenu de tab peut défiler */
}

.tab-registers button.active-tab {
    background-color: rgb(235, 235, 235);
}

.layer-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.icon {
    width: 15px; /* Contraindre la largeur à 15 pixels */
    height: 15px; /* Contraindre la hauteur à 15 pixels */
    margin-right: 10px;
    cursor: pointer;
}

.color-box {
    width: 15px;
    height: 15px;
    margin-right: 10px;
}

.slider {
    margin-right: 10px;
}
