#map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

body { 
    margin: 0; 
    padding: 0; 
}

html, body, #map { 
    height: 100%; 
}

#menu {
    top: 32px;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    z-index: 1;
    background: #efefef;
    font-family: 'Open Sans', sans-serif;
}

.tabs {
    position: absolute;
    top: 32px;
    left: 10px;
    bottom: 10px;
    display: flex;
    flex-direction: column;
    font-family: 'Lucida Sans', sans-serif;
    font-size: 15px;
    width: 100%; /* Take full available width */
    max-width: 50%; /* Limit maximum width */
    z-index: 100;
    overflow: hidden; /* Hide overflow */
    max-height: calc(100vh - 42px); /* Ensure height is within window limits */
}

.tab-registers {
    display: flex;
    flex-wrap: nowrap; /* Prevent buttons from wrapping to multiple lines */
}

.tab-registers button {
    padding: 0.5em;
    background-color: #fff;
    border: none;
    font: inherit;
    flex: 0 0 auto; /* Prevent buttons from stretching to take full width */
    transition: background-color 0.3s ease;
}

.tab-registers button:hover {
    cursor: pointer;
    background-color: #ddd; /* Add hover effect */
}

.tab-registers button:focus {
    outline: 2px solid #000; /* Add focus outline for accessibility */
}

.tab-bodies {
    background-color: #ebebeb;
    flex-grow: 1;
    overflow-y: auto; /* Add vertical scrolling */
    overflow-x: auto; /* Add horizontal scrolling */
    max-height: calc(100vh - 64px); /* Limit height of tab content */
}

.tab-bodies > div {
    overflow: auto; /* Ensure each tab content can scroll */
}

.tab-registers button.active-tab {
    background-color: #ebebeb;
}

.layer-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.icon {
    width: 15px; /* Constrain width to 15 pixels */
    height: 15px; /* Constrain height to 15 pixels */
    margin-right: 10px;
    cursor: pointer;
}

.color-box {
    width: 15px;
    height: 15px;
    margin-right: 10px;
}

.slider {
    margin-right: 10px;
}
