#map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

body { margin: 0; padding: 0; }
html, body, #map { height: 100%; }
#menu {
	position: absolute; /* Corrected typo */
	top: 32px;

	/* background: white; */
	padding: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
	z-index: 1;
	background: #efefef;
	font-family: 'Open Sans', sans-serif;
}
.tabs {
	position: relative;
	font-family: 'Lucida Sans', sans-serif;
	font-size: 15px;
width : 294px;
	z-index:100;
}
.tabs .tab-registers {
	display: flex;
	background-color: RGB(255, 255, 255);
}
.tabs button {
	padding: 0.5em;
	background-color: RGB(255, 255, 255);
	border: none;
	font: inherit;
}
.tabs .tab-registers button:hover {
	cursor: pointer;
}
.tabs .tab-bodies {

	background-color: RGB(235, 235, 235);
	flex-grow: 1;
	overflow-y: auto;
}
.tabs button.active-tab {
	background-color: rgb(235, 235, 235);
}